<!DOCTYPE html>
<html>
  <head>
    <title>HarperTracker</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      $(document).on('click', 'a', function(event) {
        event.preventDefault();
        location.href = $(event.target).attr('href');
      });
    </script>
  </head>

  <body>
    <%= render 'nav' %>

    <% if flash[:notice] || flash[:error] %>
      <%= render 'flash' %>
    <% end %>
    <%= yield %>
  </body>
</html>
